<div >
    <button class="close" mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>

    <div class="header">
      <mat-card-header>
        <!-- <div mat-card-avatar> <img mat-card-image src="{{ artists[1].img }}" style="width: 2rem;"/></div> -->
        <mat-card-title style="font-size: 0.9rem;">{{ artists[1].firstname }} {{ artists[1].lastname }}</mat-card-title>

      </mat-card-header>
      <div class="imgcontainer"> <img  src="{{photos[1].img}}" class="img"></div>

      <mat-card-content class="infoContainer" >
      <br>
      <div class="info">
        <p>Precio {{ photos[1].price }} €</p>
        <p>Medidas {{ photos[1].size}} </p>
      </div>
      </mat-card-content>
      <mat-card-actions class="btn">
        <button mat-icon-button>
          <mat-icon >local_grocery_store</mat-icon>
        </button>
        </mat-card-actions>

    </div>

</div>
