body {
  height: calc(100vh - 5em - 3em);
  overflow-y: scroll;
  margin-top: 3em;
}
.container {
  width: 14em;
  height: 14em;
  margin: 3rem,
}
img {
  width: auto;
  display: block;
  margin: auto;
}
.info{
  display:block;
  margin:auto;
}
.btn{
  margin:auto;
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
