 <body>
 <div class="artist" *ngIf="artists.id == usuarioLog">

    <img   src="http://localhost:8080/api/img/{{artists.avatarId}}" />
    <p>{{ artists.firstname }}  {{ artists.lastname }} <button mat-icon-button (click)="openDialogCreate()">
      <mat-icon aria-label="label">library_add</mat-icon>
    </button></p>


 </div>
  <mat-grid-list  *ngIf="photos" [cols]="columnas"  (window:resize)="handleSize($event)">
    <mat-grid-tile *ngFor="let photo of photos">

      <mat-card class="container">
        <img mat-card-md-image  src="http://localhost:8080/api/img/{{photo.idPhoto}}"  >
        <br>
        <mat-card-content class="info">

          <p>{{ photo.title }}</p>
          <p> {{ photo.price }} €</p>

        </mat-card-content>



        <mat-card-actions class="btn" >
          <button mat-icon-button (click)="openDialogRead(photo)" >
            <mat-icon aria-label="label">visibility</mat-icon>
          </button>
          <button mat-icon-button  *ngIf="artists.id !=usuarioLog">
            <mat-icon aria-label="label" >add_shopping_cart</mat-icon>
          </button>
            <button mat-icon-button (click)="openDialogUpdate(photo)" *ngIf="artists.id == usuarioLog">
              <mat-icon aria-label="label">edit</mat-icon>
            </button>
              <button mat-icon-button (click)="deletePhoto(photo)" *ngIf="artists.id == usuarioLog">
                <mat-icon aria-label="label">delete</mat-icon>
              </button>

        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>
