<body>
  <mat-grid-list cols="4" rowHeight="2:1" *ngIf="artists"  >
    <mat-grid-tile *ngFor="let artist of artists">
      <mat-card class="container">
        <mat-card-header class="hcontainer">
          <div mat-card-avatar class="avatar">
            <!-- <img mat-card-image src="{{ artist.img }}" /> -->
          </div>
          <div class="title">
            <mat-card-title >{{ artist.firstname }} {{ artists[1].lastname }}</mat-card-title>
            <mat-card-subtitle >sub-header</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-actions class="button-container">
          <button mat-button routerLink="/profile">Perfil</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</body>
