<div>
  <mat-toolbar class="mat-elevation-z6">
    <span><img src="./assets/img/black.png"></span>
    <a >Inicio</a>
    <button mat-button [matMenuTriggerFor]="menu">Productos</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item href="www.google.es">Fotografías</button>
      <button mat-menu-item href="">Tutoriales</button>
      <button mat-menu-item href="">Presets</button>
      <button mat-menu-item href="">Libros</button>
    </mat-menu>
    <button mat-button>Login</button>
    <button mat-button>Registro</button>
  </mat-toolbar>

</div>
