.mat-toolbar{
background-color: #efefef;
height: 5rem;
}
  img{
    height: 4rem;
  }
.search{
  margin-left: 8%;
  align-content: center;
  display:flex;
}
.search input{
  width: 30rem;
}
.login-controller{
  margin-right: 0;
  margin-left: auto;
  display: block;
}
