<div class="header">
  <mat-toolbar class="mat-elevation-z6">
    <span><img src="./assets/img/black.png"></span>
    <button mat-button routerLink="/home">Inicio</button>
    <button mat-button routerLink="/artists">Artistas</button>
    <!--Menú productos-->
    <button mat-button [matMenuTriggerFor]="menu">Productos</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/photos">Fotografías</button>
      <button mat-menu-item href="">Tutoriales</button>
      <button mat-menu-item href="">Presets</button>
      <button mat-menu-item href="">Libros</button>
    </mat-menu>
    <!--Barra buscador-->
    <div class="search">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="search" placeholder="Buscar" class="search-input">
    </div>

    <!--Componente login-controller-->
    <div class="login-controller">
      <app-login-controller></app-login-controller>
    </div>
  </mat-toolbar>

</div>
<!---->
