.header{
  width: 100%;
}
.mat-toolbar{
background-color: #efefef;
height: 5rem;
}
  img{
    height: 4rem;
  }
.search{
  margin-left: 8%;
  align-content: center;
  width: 400%;
  display:flex;
}

.logout{
  margin-right: 0;
  margin-left: auto;
  display: block;
}
