.mat-toolbar{
background-color: #efefef;
height: 5rem;
}
  img{
    height: 4rem;
  }
  .search{

  }
  .search input{

    width:10em;
  }
.login-controller{
  margin-right: 0;
  margin-left: auto;
  display: block;
}
