.container {
  width: 20rem;

}
.avatar {
  margin-left: 8em;
}
.avatar img {
  height: 4em;
  width: 6em;
}
.header {
  margin-top: 2em;
  margin-left: 1em;
}
.form {
  margin-left: 5em;
}
.pwd {
  display: block;
}
.btn {
  margin-left: 5em;

}
.register{
  color:#ffffff;
  background-color: #2196f3;
  margin-left:0.5rem;

}
.form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
