.container {
  width: 30rem;
  height: 32rem;
  overflow-y:scroll;

}
.avatar {
  margin-left: 12em;
}
.avatar img {
  height: 4em;
  width: 6em;
}



 .mat-form-field {
  margin-left: 0.7em;

}
.form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
