<mat-card class="container">
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div mat-card-avatar class="avatar">
    <img mat-card-md-image src="./assets/img/black.png" />
  </div>
  <form method="post">
  <mat-card-header class="header">
    <mat-card-title>Registro</mat-card-title>
  </mat-card-header>
    <mat-card-content class="form" >
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" name="firstname" [(ngModel)]="firstname" required/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos" name="lastname" [(ngModel)]="lastname" required/>
      </mat-form-field>
      <mat-form-field appearance="fill"  >
        <mat-label>Edad</mat-label>
        <input matInput placeholder="Edad" name="age" min="18" max="100"  type="number" [(ngModel)]="age" required/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" [(ngModel)]="email" required/>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Contraseña"
          name="pwd" [(ngModel)]="pwd" required/>
        <button
          mat-icon-button matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon matSuffix>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmar Contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Contraseña"
          name="pwdConfirm" [(ngModel)]="pwdConfirm" required/>
        <button
          mat-icon-button matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >

          <mat-icon  matSuffix>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-radio-group>
        <mat-radio-button value="fotografo">Fotógrafo</mat-radio-button>
        <mat-radio-button value="usuario">Usuario</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

  <mat-card-actions class="btn">
    <button mat-stroked-button color="primary" class="btn-block" type="submit" (click)="register()">Registrar</button>
  </mat-card-actions>
</form>
</mat-card>
