<mat-card class="container">
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <div mat-card-avatar class="avatar">
    <img mat-card-md-image src="./assets/img/black.png" />
  </div>
  <form method="post" #f="ngForm" class="form" style="margin-top: 2em;">
  <mat-card-header class="header">
    <mat-card-title>Registro</mat-card-title>
  </mat-card-header>
    <mat-card-content class="form" >
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" name="firstname" [(ngModel)]="data.firstname" required/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Apellidos" name="lastname" [(ngModel)]="data.lastname" required/>
      </mat-form-field>
      <mat-form-field appearance="fill"  >
        <mat-label>Edad</mat-label>
        <input matInput placeholder="Edad" name="age" min="18" max="100"  type="number" [(ngModel)]="data.age" required/>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" [(ngModel)]="data.email" [email]="true" required/>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Contraseña"
          name="pwd" [(ngModel)]="data.pwd" ngModel minlength="6" required/>

      </mat-form-field>

      <br>
      <mat-radio-group [(ngModel)]="data.rol" [ngModelOptions]="{standalone: true}" >
        <mat-radio-button  type="radio" value=1>Fotógrafo</mat-radio-button>
        <mat-radio-button  type="radio"  value=2>Usuario</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>

  <mat-card-actions class="btn">
    <button mat-stroked-button color="primary" class="btn-block" type="submit" [disabled]="!f.valid" (click)="register(data)">Registrar</button>
  </mat-card-actions>
</form>
</mat-card>
