.container {
  width: 30rem;
  height: 32rem;
  overflow-y:scroll;

}
.avatar {
  margin-left: 8em;
}
.avatar img {
  height: 4em;
  width: 6em;
}
.header {
  margin-top: 2em;
  margin-left: 7.5em;
}


 .mat-form-field {
  margin-left: 0.7em;

}
